.food-history-table {
  border-collapse: collapse;
  max-width: 900px;
  width: 200%;
  margin: 2rem auto;
}
.food-history-table-th,
.food-history-table-td {
  border: 3px solid #006aff;
  padding: 10px;
}
.food-history-form {
  display: flex;
  gap: 5px;
}
.food-history-form-td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.food-history-form-* {
  font-size: 20px;
}